/* for the logout button */
header button {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}



button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  font-family: "Times New Roman";
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}



.button-row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: 0.5rem;
}



.button-row > *:nth-child(2) {
  justify-self: center;
}



button:hover {
  background-color: #ffffff40;
  transform: translateY(-1px);
}



.img-uploader {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  font-family: "Times New Roman";
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;

  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
}



.img-uploader:hover {
  background-color: #ffffff40;
  transform: translateY(-1px);
}


.button-style {
  appearance: none;
  display: flex;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-family: "Times New Roman";
  border-radius: 4px;
  justify-content: center;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  text-align: center;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
  font-family: "Times New Roman";
  width: 8rem;
}



/* This inherits button-style look */
.selected-option.button-style {
  appearance: none;
  display: flex;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-family: "Times New Roman";
  border-radius: 4px;
  justify-content: center;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  text-align: center;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
}



.dropdown-options {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px outset buttonborder;
  border-radius: 4px;
  width: 100%;
  margin-top: 0.25rem;
  z-index: 1000;
}



.dropdown-option {
  padding: 0.5rem 1rem;
  font-family: "Times New Roman";
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}



.dropdown-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
}